[tool.black]
line-length = 120
target-version = ['py39', 'py310', 'py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # Exclude specific files if needed
  | debug_weather\.py
)/
'''

[tool.isort]
profile = "black"
line_length = 120
